html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

::-webkit-scrollbar {
    width: 0px;
}

  #centralpart{
    padding: 6.32em 0em 8em 0em;
    overflow: auto;
    /* margin-top: 40px; */
}

.menubar-item {
    flex: 1 1 0px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.menubar{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    /* padding-right: 10px; */
}

.ratingselect{
    padding: 5px 0px;
}

.contheader{
   display: inline-block;
   line-height: 1.1;
   padding-left: 0.3em;
   padding-right: 0.1em;
}

.subtitle{
  font-size: 1.0em;
  font-style: italic;
  /* line-height: 1.1; */
  padding-top: 0.3em;
}

.title{
   height:1.5em; 
  font-size: 1.8em;
  /* line-height: 1.1; */
  padding-top: 0.2em;
}

#verticalbar { /*to swiperight*/
    height: 100%;
    width: 26px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 100px;
}

/* .ratingzero{
  width: 20px;
  height: 100%;
  padding: 5px 0px 0px 0px;
  text-align: right;
}
 */
.countryflag{
    padding: 0px 8px 0px 0px;
}

.rateit{
    width: max-content;
    /* cursor: pointer !important; */
}

.stars {
    height: 22px;
    background-repeat:no-repeat;
    background-size:100px;
}

#stars5 {
    background-image:url('../res/img/5star.png');
}

#stars4 {
    background-image:url('../res/img/4star.png');
}

#stars3 {
    background-image:url('../res/img/3star.png');
}

#stars2 {
    background-image:url('../res/img/2star.png');
}

#stars1 {
    background-image:url('../res/img/1star.png');
}

.thumbopen{
  width: 20px;
}

.favicon{
  /*background-image: url("http://be.radioonline.fm/images/klara-continuo.png"); */
  background-position: center center; 
  background-color: #fff; 
  border-radius: 50%; 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 50px; 
  height: 50px; 
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
  position: absolute;
  right: 15px;
  /* bottom: 8px; */
  display: none;
}

.favicon2{
  /*background-image: url("http://be.radioonline.fm/images/klara-continuo.png"); */
  background-position: center center; 
  background-color: #fff; 
  border-radius: 50%; 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 50px; 
  height: 50px; 
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
  position: absolute;
  right: 15px;
  top: 74px;
  display: none;
}

#logo{
  background-image: url("../s2s-icon-512.png");
  background-size: contain; 
  width: 70px; 
  height: 70px; 
  position: absolute;
  right: 2rem;
  top: 14rem;
  display: block;
}

.xclose{
   vertical-align: top; 
   padding: 14px;
}

.italic{
  font-style: italic;
  font-size: 0.8em;
}

#inf-removestation {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-size: 100% 100%;
  background-image: url('../res/icon/remove.png');
  cursor: pointer;
}

#thumb-open {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-size: 100% 100%;
  background-image: url('../res/icon/thumb-up-open.png');
  cursor: pointer;
}

#thumb-closed {
  display: none;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-size: 100% 100%;
  background-image: url('../res/icon/thumb-up-closed.png');
}

#play {
  display: none;
  float: left;
  width: 35px;
  height: 40px;
  margin-left: .5em;
  background-size: 100% 100%;
  background-image: url('../res/img/play.png');
}

#pause {
  display: block;
  float: left;
  width: 35px;
  height: 40px;
  margin-left: .5em;
  background-size: 100% 100%;
  background-image: url('../res/img/pause.png');
}

#selectedstation {
  padding-top: .2em;
  width: 100%;
}

.url {
  text-align: center;
  font-size: 0.8em;
}

#setrating {
  padding: 5px 0px 0px 0px;
  box-sizing: content-box !important;
  float: right;
}

#setrating2 {
  padding: 5px 0px 0px 0px;
  box-sizing: content-box !important;
  float: left;
}

#volume_control {
  float: left;
  /* position: absolute;
  margin-left: 25%; */
  /* width: 100%; */
}

#playpause{
    float: left; 
    width: 25%;
}

#playpause-row{
    height: 40px;
    position: relative;
}



#audio_off {
  width: 32px;
  height: 32px;
  display: none;
  float: right;
  margin-top: .6em;
  background-image: url('../res/img/audio_off.png');
}

#audio_on {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
  margin-top: .6em;
  background-image: url('../res/img/audio_on.png');
}

#favorites {
  margin-right: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ui-content {
  /*padding:0.2em 0em 0.2em 0em;*/
  padding: 0.2em 0.6em 0.2em 0.6em;
}

.ui-input-search {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.footer {
  padding-top: 0.3em;
}

header {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

#footer {
  position: fixed;
  transition: bottom 0.2s ease-in-out;
  width: 100%;
}

.footerdown {
  bottom: -90px;
}

.footerup {
  bottom: 0em;
}

.nav-up {
  top: -8em;
  /*same size as header*/
}


/*get searchfield-cancel-button in input box*/

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

table {
    table-layout: fixed;
    width: 100%;
    line-height: 1.1em;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

table#activelist td, table#editlist td {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
}

tr:active {
  color: #fff;
  background-color: #647687 !important
}

.td-left{
    padding: 4px 0px 4px 9px !important;
    text-align: left;
    width: 6px;
    vertical-align: middle !important;
}

.td-center {
    /* padding: 4px 0px 4px 6px !important; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.td-right {
    padding: 4px 8px 4px 0px !important;
    text-align: right !important;
    width: 55px;
    vertical-align: middle !important;
}

.label-small {
    font-size: 0.65em;
    padding-right: 1.0em;
}

img{
    margin-bottom: 0px;
}

.edit-icon {
    margin-right: 4px;
    vertical-align: top;
    cursor: pointer;
}

.scrollToTop {
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #444;
  position: fixed;
  bottom: 130px;
  right: 60px;
  display: none;
  background: url('../res/img/arrowup01.png') no-repeat 0px 0px;
  background-size: cover;
}

.scrollToTop:hover {
  text-decoration: none;
}


/*colors*/

.fs-teal {
  color: #fff;
  background-color: #218C8D
}

.fs-light-blue {
  color: #fff;
  background-color: #6CCECB
}

.fs-yellow {
  color: #666;
  background-color: #F9E559
}

.fs-orange {
  color: #fff;
  background-color: #EF7126
}

.fs-light-green {
  color: #fff;
  background-color: #8EDC9D
}

.fs-gray {
  color: #fff;
  background-color: #473E3F
}

.fs-dark-gray {
  color: #fff;
  background-color: #616161
}

.fs-black {
  color: #fff;
  background-color: #000
}

.fs-steel {
  color: #fff;
  background-color: #647687
}


/*slider*/

input[type=range] {
  -webkit-appearance: none;
  vertical-align: top;
  margin-top: 15px;
  width: 35vw;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 9.9px;
  cursor: pointer;
  box-shadow: 0px 1px 0px #ddd, 0px 0px 1px #ddd;
  background: #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #000000, 0px 0px 3px #ddd;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #aaa;
    background: repeating-linear-gradient(
      45deg,
      rgba(184, 184, 184, .99)20px,
      rgba(200, 200, 210, .99)30px
    );
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

#play, #pause, .favicon, .w3-select{
    cursor: pointer;
    -moz-appearance:none;
}