<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scriptel.radios2s" version="1.1.1" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RadioS2S</name>
    <description>
		Free internet radio player
    </description>
    <author email="fsch0203@gmail.com" href="http://radios2s.scriptel.nl">
		Frans Schrijver
    </author>
    <platform name="android" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/s2s-icon-512.png" />
    <splash src="www/s2s-icon-512.png" />
</widget>